.header {
    margin-top: 46px;
    align-items: center;
    background-color: transparent;
    position: relative;
}

.mainHeaderContent {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;

}

.headerNav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0;
}

.headerNavItem {
    list-style-type: none;
    transition: .3s;
}

.headerNavItem:hover {
    color: rgba(255, 177, 68, 1);
    cursor: pointer;
}


.logoContainer {
    display: flex;
    align-items: flex-end;
    transition: 2s;
}

.headerLogo {
    max-width: 97px;
    max-height: 24px;
}

.logoText {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    transition: 2s;
}

.contacts {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    transition: .5s;
}

.socialContainer {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 47px;
}

.contactsText {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    width: fit-content;
    white-space: nowrap;
}

.textContainer {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    white-space: pre-line;
}

@media screen and (max-width: 1025px) {
    .contacts {
        display: none
    }
}

@media screen and (max-width: 735px) {
    .logoContainer {
        opacity: 0;
    }

    .logoText {
        opacity: 0;
    }
}

@media screen and (max-width: 690px) {
    .logoContainer {
        display: none;
    }

    .logoText {
        display: none;
    }

    .header {
        background-color: rgba(30, 30, 30, 1);
        padding: 20px 16px;
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    .headerNavItem:last-child {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .headerNavItem {
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
    }
    .header {
        position: fixed;
        top: 0;
        padding: 20px 0;
    }

}




